<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The Disruption Department is a non-profit organization in St. Louis that provides the platform for students and teachers learn things they care about, build and make awesome things, and share their learning and creations with the world. 
</p>
<p>
	You can find our website here: <a href="http://thedisruptiondepartment.org">http://thedisruptiondepartment.org</a>.
</p>