<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Welcome to DDSTL Commit, a website dedicated to helping you become a coding ninja.  Check back for updates, which will allow you to connect with other coders and mentors. 
</p>