<footer class="footer">
  <small>
    DDSTL Commit
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://codeacademy.com">Code Academy</a></li>
      <li><a href="http://github.com">Github</a></li>
    </ul>
  </nav>
</footer>